:root {
    --bg: #ffffff;
    --bg-1: #eee;
    --txt: #080808;
    --grey: #999;
    --grey-1: #bbb;
    --accent: #0068d3;
}
.dark {
    --bg: #0f0f0f;
    --bg-1: #222;
    --txt: #dbdbdb;
    --grey: #666;
    --grey-1: #444;
    --accent: #49a3ff;
}

body {
    background-color: var(--bg);
    margin: 10px;
    font-family: "Nunito", Arial, Helvetica, sans-serif;
    color: var(--txt);
    line-height: 1.7;
    font-size: 18px;
}

* {
    transition:
        color 0.2s,
        background-color 0.2s,
        border 0.2s;
}

main {
    max-width: 700px;
    margin: auto;
    margin-bottom: 35px;
    text-align: justify;
}
a {
    color: var(--accent);
    text-decoration: underline dotted;
    text-underline-position: under;
    font-weight: bold;
}
header a:has(img) {
    display: block; /*fix focus styling on main header*/
}

a:visited {
    color: var(--accent);
}

h1 {
    text-align: center;
    margin: 0.75em 0;
    font-size: 1.75em;
}

hr {
    color: var(--grey);
}

img {
    max-width: 100%;
    max-height: 400px;
    margin: auto;
    display: block;
}

pre {
    padding: 15px;
    border-radius: 10px;
}

blockquote {
    margin: 0px;
    padding-inline: 15px 15px;
    border-inline-start: 5px solid var(--grey);
}

/*
This would normally go in a React component,
but I can't stand React handling of css, so here we go
*/

nav {
    padding: 10px 0px;
}
nav hr {
    /* margin: 0; */
    color: var(--accent);
}
.nav {
    width: 100%;
    padding: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    align-items: center;
}
.nav a {
    display: block;
    width: 100%;
    height: 100%;
    /* padding: 15px 0px; */
}
.nav span:first-child {
    text-align: left;
}
.nav span:last-child {
    text-align: right;
}
