@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

:root {
    --bg: #ffffff;
    --txt: #080808;
    --grey: #666;
    --accent: #0068d3;
}

body {
    margin: 10px;
    font-family: "Lato", Helvetica, Arial, sans-serif;
    color: var(--txt);
    line-height: 1.7;
    font-size: 18px;
}

main {
    max-width: 800px;
    margin: auto;
    margin-bottom: 35px;
    text-align: justify;
}
a {
    color: var(--accent);
    text-decoration: underline dotted;
    text-underline-position: under;
    font-weight: bold;
}
header a:has(img) {
    display: block; /*fix focus styling on main header*/
}

a:visited {
    color: var(--accent);
}

h1 {
    text-align: center;
    margin: 0.75em 0;
    font-size: 1.75em;
}

hr {
    color: var(--accent);
}

img {
    max-width: 100%;
}

pre {
    padding: 10px;
}
