---
import BaseLayout from "@/layouts/BaseLayout.astro";

import { escape, postsByOriginal } from "@/utils/content";
import { getStaticLanguagePaths } from "@/utils/i18n.ts"

export const getStaticPaths = getStaticLanguagePaths;
---

<BaseLayout title="authors">
  <h2>Adaptation sources ({postsByOriginal.length})</h2>
  <ul>
    {
      postsByOriginal.map((row) => (
        <li>
          <a href={`./o/${escape(row.original)}`}>{row.original}{row.authors.length > 0 && " (" + row.authors.join(', ') + ")" }</a>
          {` (${row.posts.length} adaptations)`}
        </li>
      ))
    }
  </ul>
</BaseLayout>
