---
import BaseLayout from "@/layouts/BaseLayout.astro";

import { escape, postsByAuthor } from "@/utils/content";
import { getStaticLanguagePaths } from "@/utils/i18n.ts"

export const getStaticPaths = getStaticLanguagePaths;

import { urlLocaliser } from "@/utils/i18n.ts"
const localUrl = urlLocaliser(Astro.url)
---

<BaseLayout title="authors">
  <h2>Authors ({postsByAuthor.length})</h2>
  <ul>
    {
      postsByAuthor.map((row) => (
        <li>
          <a href={localUrl(`/a/${escape(row.author)}`)}>{row.author}</a>
          {` (${row.posts.length} posts)`}
        </li>
      ))
    }
  </ul>
</BaseLayout>
