---
import BaseLayout from "@/layouts/BaseLayout.astro";

import { escape, postsByCollection } from "@/utils/content";
import { getStaticLanguagePaths } from "@/utils/i18n.ts"

export const getStaticPaths = getStaticLanguagePaths;

import { urlLocaliser } from "@/utils/i18n.ts"
const localUrl = urlLocaliser(Astro.url)
---

<BaseLayout title="collections">
  <h2>Collections ({postsByCollection.length})</h2>
  <ul>
    {
      postsByCollection.map((row) => (
        <li>
          <a href={localUrl(`/c/${escape(row.collection)}`)}>{row.collection}</a>
          {` (${row.posts.length} posts)`}
        </li>
      ))
    }
  </ul>
</BaseLayout>
