---
import BaseLayout from "@/layouts/BaseLayout.astro";

import { escape, postsByCollection } from "@/utils/content";
import { getStaticLanguagePaths } from "@/utils/i18n.ts"

export const getStaticPaths = getStaticLanguagePaths;
---

<BaseLayout title="collections">
  <h2>Collections ({postsByCollection.length})</h2>
  <ul>
    {
      postsByCollection.map((row) => (
        <li>
          <a href={`./c/${escape(row.collection)}`}>{row.collection}</a>
          {` (${row.posts.length} posts)`}
        </li>
      ))
    }
  </ul>
</BaseLayout>
