---
import BaseLayout from "@/layouts/BaseLayout.astro";

import Stats from "@/components/Stats.astro"
import { posts } from "@/utils/content";
import { SITE_DESCRIPTION, SITE_TITLE } from "@consts";
import MarkdownSnippet from "@/components/MarkdownSnippet.astro";
import FoundPost from "@/components/FoundPost.astro";
import { getStaticLanguagePaths, getLangFromUrl, translator } from "@/utils/i18n.ts"
import { data } from "@/i18n/site";

export const getStaticPaths = getStaticLanguagePaths;
const lang = getLangFromUrl(Astro.url)
const t = translator(data, lang)
---

<style>
  small {
    color: var(--grey);
  }

  .thanks {
    display: block;
    text-align: center;
  }

  .entries {
    padding: 0 1rem;
    border: 1px solid var(--grey);
    margin: 0.25rem;
    border-radius: var(--block-border-radius);
  }

  .more {
    display: block;
    width: fit-content;
    margin: 1rem auto;
    text-decoration: none;
  }
</style>

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <section>
    <MarkdownSnippet lang={lang} filename="index" />
  </section>
  <Stats />
  <section>
    <h2>{t('homepage.h2')}</h2>
    <MarkdownSnippet lang={lang} filename="overview" />
    <h3 style="text-align: center;">{t('homepage.contributors.title')}</h3>
    <a href="https://github.com/kulupu-lapo/poki/graphs/contributors">
      <img src="https://contrib.rocks/image?repo=kulupu-lapo/poki"
           alt={t('homepage.contributors.alttext')}
           style="text-align: center;"
      />
    </a>
    <small class="thanks">{t('homepage.contributors.caption')}</small>
  </section>
</BaseLayout>
