---
import BaseLayout from "@/layouts/BaseLayout.astro";

import { escape, postsByTag } from "@/utils/content";
import { getStaticLanguagePaths } from "@/utils/i18n.ts"

export const getStaticPaths = getStaticLanguagePaths;
---

<BaseLayout title="tags">
  <h2>Tags ({postsByTag.length})</h2>
  <ul>
    {
      postsByTag.map((row) => (
        <li>
          <a href={`./t/${escape(row.tag)}`}>{row.tag}</a>
          {` (${row.posts.length} posts)`}
        </li>
      ))
    }
  </ul>
</BaseLayout>
