---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Input from "@/components/Input.astro";
---

<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script lang="javascript">
  const rerender = async () => {
    let render = document.getElementById("md-render");
    let input = document.getElementById("md-input");
    // console.log(input.value);
    render.innerHTML = marked.parse(input.value);
  };

  const updateFileName = () => {
    let title = document.getElementById("title");
    let filename = document.getElementById("filename");
    filename.value = title.value
      .toLowerCase()
      .replaceAll(/[ _]/g, "-")
      .replaceAll(/[^\w\s\-]/g, "");
  };
  // const toggleAdvanced = async () => {
  //   let value = document.getElementById("toggle-advanced").checked;
  //   // console.log(value);
  //   for (let element of document.getElementsByClassName("advanced")) {
  //     element.style = `display: ${value ? "initial" : "none"}`;
  //   }
  // };
</script>
<script lang="javascript">
  const submit = async () => {
    let form = document.getElementById("form");
    let data = {
      "submitted-by": document.getElementById("submitted-by").value,
      filename: document.getElementById("filename").value,
      title: document.getElementById("title").value,
      description: document.getElementById("description").value,
      authors: document.getElementById("authors").value,
      date: document.getElementById("date").value,
      "date-precision": document.getElementById("date-precision").value,
      "original-title": document.getElementById("original-title").value,
      "original-authors": document.getElementById("original-authors").value,
      tags: document.getElementById("tags").value,
      license: document.getElementById("license").value,
      sources: document.getElementById("sources").value,
      notes: document.getElementById("notes").value,
      text: document.getElementById("md-input").value,
    };
    console.log(data);

    let submitButton = document.getElementById("submit");
    submitButton.value = "Submitting, please wait...";
    submitButton.onclick = "";
    let response = await fetch("https://submit-4gx.pages.dev/api/submit", {
      method: "POST",
      body: JSON.stringify(data),
      headers: {
        "Content-type": "application/json; charset=UTF-8",
      },
    });
    let responseBody = await response.json();

    if (responseBody.success) {
      document.getElementById("response").innerHTML =
        `Your article has been <a href="${responseBody.data.html_url}">received</a> and will be reviewed by volunteers!<br />Please make sure not to submit the same thing several times, thanks in advance!`;
      document.getElementById("response-error").innerHTML = "";
    } else {
      document.getElementById("response").innerHTML =
        `Failed to upload article. Show this to kala Asi at ma pona! Error message:`;
      document.getElementById("response-error").innerHTML =
        `${JSON.stringify(responseBody.error, null, " ")}`;
    }
    submitButton.value = "Submit article";
    submitButton.onclick = submit;
  };

  // document.getElementById("form").addEventListener("submit", (e) => {
  //   e.preventDefault();

  //   console.log(e);

  // const formData = new FormData(e.target);
  // const data = Array.from(formData.entries()).reduce((memo, [key, value]) => ({
  //   ...memo,
  //   [key]: value,
  // }), {});
  // document.getElementById('output').innerHTML = JSON.stringify(data);
  // });
</script>

<BaseLayout title={"Add an article"}>
  <section>
    <h1>Add your article</h1>
    <form id="form">
      <div class="row">
        <Input
          top
          title="Submitted by"
          id="submitted-by"
          required
          placeholder="your Toki Pona name"
        />
      </div>
      <div class="row">
        <Input
          title="File name"
          id="filename"
          required
          placeholder="carry-feat-jan-kekan-san"
        />
      </div>
      <div class="row">
        <Input
          title="Title"
          id="title"
          required
          placeholder="carry-feat-jan-kekan-san"
          oninput="updateFileName()"
          placeholder="carry (feat.) jan kekan san"
        />
        <Input
          title="Original title"
          id="original-title"
          required
          placeholder="carry-feat-jan-kekan-san"
          placeholder="(use this if the work is a translation)"
        />
      </div>
      <div class="row">
        <Input
          title="Authors"
          id="authors"
          required
          placeholder="jan Usawi, jan Kekan San"
        />
        <Input
          title="Original authors"
          id="original-authors"
          required
          placeholder="(use this if the work is a translation)"
        />
      </div>
      <div class="row">
        <Input
          title="Description"
          id="description"
          placeholder="A punny parody of Wayward Son"
        />
      </div>
      <div class="row">
        <Input title="Date published" id="date" type="date" required />
        <Input title="Date precision" id="date-precision" tag="select">
          <option selected value="day">Precise to the day</option>
          <option value="month">Precise to the month</option>
          <option value="year">Precise to the year</option>
          <option value="none">Complete guess</option>
        </Input>
      </div>
      <div class="row">
        <Input title="Tags" id="tags" placeholder="music, pop, parody" />
        <Input title="License" id="license" placeholder="CC BY-SA 3.0" />
      </div>
      <div class="row">
        <Input
          title="Sources"
          id="sources"
          placeholder="https://janusawi.bandcamp.com/album/toki-gaming"
        />
      </div>
      <div class="row">
        <Input bottom title="Notes" id="notes" />
      </div>
    </form>
    <!-- <input id="toggle-advanced" type="checkbox" oninput="toggleAdvanced()" />
      <label for="toggle-advanced">Show advanced options</label>
      <div class="advanced">
        <span>Proofreaders</span>
        <input id="proofreaders" />
      </div>
      <div class="advanced">
        <span>Archives</span>
        <input id="archives" />
      </div>
      <div class="advanced">
        <span>Preprocessing</span>
        <input id="preprocessing" />
      </div>
      <div class="advanced">
        <span>Accessibility notes</span>
        <input id="accessibility-notes" />
      </div> -->
  </section>
  <div>
    <h1>Text</h1>
    <textarea
      id="md-input"
      placeholder="# Start typing! o kama sitelen e ijo!\n\nYou can use **Markdown**! o nasin **Markdown**!"
      oninput="rerender()"></textarea>
  </div>
  <div id="md-render"></div>
  <input
    class="submit"
    type="submit"
    id="submit"
    value="Submit article"
    onclick="submit()"
  />
  <div id="response"></div>
  <pre id="response-error"></pre>
</BaseLayout>

<style>
  .row {
    display: flex;
  }
  .submit {
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    display: block;
    border: 1px solid var(--grey);
    padding: 10px 40px;
    font-weight: bold;
    border-radius: 10px;
    margin: 10px auto;
    background-color: var(--bg);
  }
  .submit:hover {
    background-color: var(--bg-1);
  }
  textarea {
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    height: 200px;
  }
</style>
