---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script lang="javascript">
  const rerender = async () => {
    let render = document.getElementById("md-render");
    let input = document.getElementById("md-input");
    // console.log(input.value);
    render.innerHTML = marked.parse(input.value);
  };

  const updateFileName = () => {
    let title = document.getElementById("title");
    let filename = document.getElementById("filename");
    filename.value = title.value
      .toLowerCase()
      .replaceAll(/[ _]/g, "-")
      .replaceAll(/[^\w\s\-]/g, "");
  };
  // const toggleAdvanced = async () => {
  //   let value = document.getElementById("toggle-advanced").checked;
  //   // console.log(value);
  //   for (let element of document.getElementsByClassName("advanced")) {
  //     element.style = `display: ${value ? "initial" : "none"}`;
  //   }
  // };
</script>
<script lang="javascript">
  const submit = async () => {
    let form = document.getElementById("form");
    let data = {
      "submitted-by": document.getElementById("submitted-by").value,
      filename: document.getElementById("filename").value,
      title: document.getElementById("title").value,
      description: document.getElementById("description").value,
      authors: document.getElementById("authors").value,
      date: document.getElementById("date").value,
      "date-precision": document.getElementById("date-precision").value,
      "original-title": document.getElementById("original-title").value,
      "original-authors": document.getElementById("original-authors").value,
      tags: document.getElementById("tags").value,
      license: document.getElementById("license").value,
      sources: document.getElementById("sources").value,
      notes: document.getElementById("notes").value,
      text: document.getElementById("md-input").value,
    };
    console.log(data);

    let submitButton = document.getElementById("submit");
    submitButton.value = "Submitting, please wait...";
    submitButton.onclick = "";
    let response = await fetch("https://submit-4gx.pages.dev/api/submit", {
      method: "POST",
      body: JSON.stringify(data),
      headers: {
        "Content-type": "application/json; charset=UTF-8",
      },
    });
    let responseBody = await response.json();

    if (responseBody.success) {
      document.getElementById("response").innerHTML =
        `Your article has been <a href="${responseBody.data.html_url}">received</a> and will be reviewed by volunteers!<br />Please make sure not to submit the same thing several times, thanks in advance!`;
    } else {
      document.getElementById("response").innerHTML =
        `Failed to upload article. Error message:<br />${JSON.stringify(responseBody.error)}<br />Show this to kala Asi at ma pona!`;
    }
    submitButton.value = "Submit article";
    submitButton.onclick = submit;
  };

  // document.getElementById("form").addEventListener("submit", (e) => {
  //   e.preventDefault();

  //   console.log(e);

  // const formData = new FormData(e.target);
  // const data = Array.from(formData.entries()).reduce((memo, [key, value]) => ({
  //   ...memo,
  //   [key]: value,
  // }), {});
  // document.getElementById('output').innerHTML = JSON.stringify(data);
  // });
</script>

<BaseLayout title={"Add an article"}>
  <section>
    <h1>Add your article</h1>
    <form id="form">
      <div class="columns">
        <label class="row top">
          <span>Submitted by</span>
          <input
            id="submitted-by"
            required
            placeholder="your Toki Pona name goes here!"
          />
        </label>
      </div>
      <div class="columns">
        <label class="row">
          <span>File name</span>
          <input
            id="filename"
            required
            placeholder="carry-feat-jan-kekan-san"
          />
        </label>
      </div>
      <div class="columns">
        <label class="row">
          <span>Title</span>
          <input
            id="title"
            required
            oninput="updateFileName()"
            placeholder="carry (feat.) jan kekan san"
          />
        </label>
        <label class="row">
          <span>Original title</span>
          <input
            id="original-title"
            required
            placeholder="(use this if the work is a translation)"
          />
        </label>
      </div>
      <div class="columns">
        <label class="row">
          <span>Authors</span>
          <input id="authors" required placeholder="jan Usawi, jan Kekan San" />
        </label>
        <label class="row">
          <span>Original authors</span>
          <input
            id="original-authors"
            required
            placeholder="(use this if the work is a translation)"
          />
        </label>
      </div>
      <div class="columns">
        <label class="row">
          <span>Description</span>
          <input id="description" placeholder="A punny parody of Wayward Son" />
        </label>
      </div>
      <div class="columns">
        <label class="row">
          <span>Date published</span>
          <input id="date" type="date" required />
        </label>
        <div class="row">
          <span>Date precision</span>
          <select id="date-precision">
            <option selected value="day">Precise to the day</option>
            <option value="month">Precise to the month</option>
            <option value="year">Precise to the year</option>
            <option value="none">Complete guess</option>
          </select>
        </div>
      </div>
      <div class="columns">
        <label class="row">
          <span>Tags</span>
          <input id="tags" placeholder="music, pop, parody" />
        </label>
        <label class="row">
          <span>License</span>
          <input id="license" placeholder="CC BY-SA 3.0" />
        </label>
      </div>
      <div class="columns">
        <label class="row">
          <span>Sources</span>
          <input
            id="sources"
            placeholder="https://janusawi.bandcamp.com/album/toki-gaming"
          />
        </label>
      </div>
      <div class="columns">
        <label class="row bottom">
          <span>Notes</span>
          <input id="notes" />
        </label>
      </div>
      <!-- <input id="toggle-advanced" type="checkbox" oninput="toggleAdvanced()" />
      <label for="toggle-advanced">Show advanced options</label>
      <div class="advanced">
        <span>Proofreaders</span>
        <input id="proofreaders" />
      </div>
      <div class="advanced">
        <span>Archives</span>
        <input id="archives" />
      </div>
      <div class="advanced">
        <span>Preprocessing</span>
        <input id="preprocessing" />
      </div>
      <div class="advanced">
        <span>Accessibility notes</span>
        <input id="accessibility-notes" />
      </div> -->
    </form>
    <div>
      <h3>Text</h3>
      <textarea
        id="md-input"
        placeholder="## o sitelen kepeken nasin *Markdown*!"
        oninput="rerender()"></textarea>
    </div>
    <div id="md-render"></div>
    <input
      class="row submit"
      type="submit"
      id="submit"
      value="Submit article"
      onclick="submit()"
    />
    <div id="response"></div>
  </section>
</BaseLayout>

<style>
  form span {
    margin: 0;
    /* margin-top: 10px; */
  }
  div {
    display: block;
  }
  .columns {
    display: flex;
  }
  .columns > * {
    width: 100%;
  }
  .row {
    background-color: var(--bg);
    /* border: 1px solid var(--grey); */
    outline: 1px solid #bbb;
    padding: 7px 12px;
  }
  .row:hover {
    background-color: var(--bg-1);
  }
  .row:focus-within {
    outline: 2px solid var(--accent);
    z-index: 1;
  }
  .top {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
  }
  .bottom {
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
  }
  .submit {
    padding: 10px;
    font-weight: bold;
    border-radius: 10px;
    margin: 10px 0;
  }
  input,
  select {
    padding: 0;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    display: block;
    border: 0;
    background-color: initial;
  }
  input:focus,
  select:focus {
    outline: none;
  }

  input:not([type="checkbox"]),
  select {
    box-sizing: border-box;
    width: 100%;
  }
  /* #date,
  #date-precision {
    width: 50%;
  } */
  textarea {
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    height: 200px;
  }
  /* .advanced {
    display: none;
  } */
</style>
