---
import SearchPage from "@/layouts/SearchPage.astro";
import { escape, authors, getPostsByAuthor, by } from "@/utils/content";

const query = authors
  .map((author) => ({
    author,
    posts: getPostsByAuthor(author).length,
  }))
  .sort(by((x) => x.posts, false));
---

<SearchPage title="authors">
  <h2>Authors ({query.length})</h2>
  <ul>
    {
      query.map((row) => (
        <li>
          <a href={`./a/${escape(row.author)}`}>{row.author}</a>
          {` (${row.posts} posts)`}
        </li>
      ))
    }
  </ul>
</SearchPage>
