---
import BaseLayout from "@/layouts/BaseLayout.astro";

import { escape, postsByAuthor } from "@/utils/content";
---

<BaseLayout title="authors">
  <h2>Authors ({postsByAuthor.length})</h2>
  <ul>
    {
      postsByAuthor.map((row) => (
        <li>
          <a href={`./a/${escape(row.author)}`}>{row.author}</a>
          {` (${row.posts.length} posts)`}
        </li>
      ))
    }
  </ul>
</BaseLayout>
