---
import BaseLayout from "@/layouts/BaseLayout.astro";

import { collections, escape, getPostsByCollection } from "@/utils/content";

const query = collections.map((collection) => ({
  collection: collection.name,
  posts: getPostsByCollection(collection).length,
}));
---

<BaseLayout title="collections">
  <h2>Collections ({query.length})</h2>
  <ul>
    {
      query.map((row) => (
        <li>
          <a href={`./c/${escape(row.collection)}`}>{row.collection}</a>
          {` (${row.posts} posts)`}
        </li>
      ))
    }
  </ul>
</BaseLayout>
