---
import BaseLayout from "@/layouts/BaseLayout.astro";

import FoundPost from "@/components/FoundPost.astro";
import { posts } from "@/utils/content";
import { SITE_DESCRIPTION, SITE_TITLE } from "@consts";
import { getCollection, render } from "astro:content";

const meta = (await getCollection("meta")).find((post) => post.id == "index")!;
const { Content: Meta } = await render(meta);
---

<style>
  small {
    color: var(--grey);
  }

  .all {
    height: 100vh;
    overflow-y: scroll;
    padding: 0 1rem;
    background-color: var(--bg-1);
    border: 2px solid var(--accent);
    border-radius: var(--block-border-radius);
  }
</style>

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <section>
    <Meta />
  </section>
  <h2>Browse all {posts.length} works:</h2>
  <section class="all">
    <ul>
      {posts.map((post) => <FoundPost {post} />)}
    </ul>
  </section>
</BaseLayout>
