---
import BaseLayout from "@/layouts/BaseLayout.astro";

import FoundPost from "@/components/FoundPost.astro";
import { posts } from "@/utils/content";
import { SITE_DESCRIPTION, SITE_TITLE } from "@consts";
import { getCollection, render } from "astro:content";

const meta = (await getCollection("meta")).find((post) => post.id == "index")!;
const { Content: Meta } = await render(meta);
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <section>
    <Meta />
  </section>
  <section>
    <h2>{posts.length} Works:</h2>
    <ul>
      {posts.map((post) => <FoundPost {...post} />)}
    </ul>
  </section>
</BaseLayout>
