---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { by, escape, getPostsByTag, tags } from "@/utils/content";

const query = tags
  .map((tag) => ({
    tag,
    posts: getPostsByTag(tag).length,
  }))
  .sort(by((x) => x.posts, false));
---

<BaseLayout title="tags">
  <h2>Tags ({query.length})</h2>
  <ul>
    {
      query.map((row) => (
        <li>
          <a href={`./t/${escape(row.tag)}`}>{row.tag}</a>
          {` (${row.posts} posts)`}
        </li>
      ))
    }
  </ul>
</BaseLayout>
