---
import { escape } from "@/utils/content";

interface Props {
  authors: string[] | null;
}

const { authors } = Astro.props;

import { getLangFromUrl, translator, urlLocaliser } from "@/utils/i18n.ts"
import MixIn from "./MixIn.astro";
import { data } from "@/i18n/ui";
const localUrl = urlLocaliser(Astro.url)

const t = translator(data, getLangFromUrl(Astro.url))
---

<style>
  a {
    font-weight: inherit;
  }
</style> 
<MixIn template={t('post.credits[authors]')}>
  {authors && authors.map((author) => 
    <a slot="authors" href={localUrl(`/a/${escape(author)}`)}>{author}</a>)
  }
</MixIn>
