---
import { escape } from "@/utils/content";

interface Props {
  authors: string[] | null;
}

const { authors } = Astro.props;

import { urlLocaliser } from "@/utils/i18n.ts"
const localUrl = urlLocaliser(Astro.url)
---

<style>
  a {
    font-weight: inherit;
  }
</style>
{
  authors &&
    authors
      .map((author) => <a href={localUrl(`/a/${escape(author)}`)}>{author}</a>)
      .reduce((prev, curr, i) => (
        <>
          {prev}, {curr}
        </>
      ))
}
