---
import type { CollectionEntry } from "astro:content";
import { formatDate } from "@/utils/date";
import Authors from "@/components/Authors.astro";

interface Props {
  post: CollectionEntry<"blog">;
  query?: string;
}

const { post, query = "" } = Astro.props;

import { urlLocaliser, translator, getLangFromUrl } from "@/utils/i18n.ts"
import { data } from "@/i18n/ui";
const localUrl = urlLocaliser(Astro.url)
const t = translator(data, getLangFromUrl(Astro.url))
---

<style>
  li {
    width: 100%;
    margin: 1.5rem 0;
    line-height: 1.3;
  }
  li::marker {
    color: var(--accent);
  }
  .date {
    color: var(--grey);
  }
  .post {
    text-decoration: none;
    font-style: italic;
  }
  p {
    margin: 0;
  }
</style>
<li>
  <a href={localUrl(`/${post.id}/${query ? `?q=${query}` : ""}`)} class="post">{post.data.title}</a>
  <p>
    {t('foundpost.pre')
    }<Authors authors={post.data.authors} 
    />{t('foundpost.mid')
    }<span class="date">{formatDate(post.data.date, post.data["date-precision"])}</span>{t('foundpost.post')}
  </p>
</li>
