---
import DarkModeToggle from "@/components/DarkModeToggle.astro";
import { translator, getLangFromUrl, urlLocaliser } from "@/utils/i18n.ts"
import { data } from "@/i18n/ui.ts"
import LanguageSwitch from "./LanguageSwitch.astro";

const t = translator(data, getLangFromUrl(Astro.url))
const localUrl = urlLocaliser(Astro.url)
---
<style>
  header {
    position: relative;
    max-width: 850px;
    text-align: center;
    border-bottom: 5px dotted var(--accent);
    padding: 20px 0;
    margin: auto;
    margin-top: 10px;
    font-weight: 600;
    color: var(--accent);
  }
  a {
    text-decoration: none;
    color: var(--txt);
  }
  img {
    max-width: 100%;
    max-height: 150px;
  }
</style>

<header>
  <a href={localUrl("/")}>
    <img alt="open Lapo" src="./header.svg" />
  </a>
  <DarkModeToggle />
  <LanguageSwitch />
  <div style="font-weight: 700">
    <a href="https://wasona.com/">{t('nav.wasona')}</a>{" · "}
    {t('nav.library')}{" · "}
    <a href="https://sin-kulupu.pona.la">{t('nav.sinkulupu')}</a>{" · "}
    <a href="https://discord.gg/6zkugJFU4x">{t('nav.mapona')}</a>{" · "}
    <a href="https://pona.la/">{t('nav.ponala')}</a>
  </div>
  <div class="secondary">
    <a href={localUrl("/all")}>{t("nav.all")}</a>{" · "}
    <a href={localUrl("/collections")}>{t("nav.collections")}</a>{" · "}
    <a href={localUrl("/tags")}>{t("nav.tags")}</a>{" · "}
    <a href={localUrl("/authors")}>{t("nav.authors")}</a>{" · "}
    <a href={localUrl("/adaptations")}>{t("nav.adaptations")}</a>{" · "}
    <a href={localUrl("/random")}>{t("nav.random")}</a>{" · "}
    <a href={localUrl("/add")}>{t("nav.add")}</a>
  </div>
</header>
