---
interface Props {
  title: 'Entries' | 'Collections' | 'Tags' | 'Authors',
  value: number,
  link: string
}

import { translator, getLangFromUrl, urlLocaliser } from "@/utils/i18n.ts"
import { data } from "@/i18n/site";

const { title, value, link } = Astro.props;

const localUrl = urlLocaliser(Astro.url)
const t = translator(data, getLangFromUrl(Astro.url))
---

<style>
  div {
    width: 100%;
    display: inline-block;
    text-align: center;
    border: 1px solid var(--grey);
    padding: var(--block-padding);
    border-radius: var(--block-border-radius);
    box-sizing: border-box;
    box-shadow: 0px 0px 0px transparent;
    transition-duration: 0.3s;
    transition-property: box-shadow;
  }
  div:hover {
    border-color: var(--accent);
    box-shadow: 0px 0px 8px var(--accent);
  }
  small {
    font-size: inherit;
  }
  p {
    font-size: 48px;
    margin: 0;
    color: var(--accent);
    font-weight: 700;
  }
  a {
    color: var(--txt);
    font-weight: initial;
  }
</style>

<a href={localUrl('/'+link)}><div class={link}>
  <small>{t(`homepage.stats.${title}`)}</small>
  <p>{value}</p>
</div></a>
