---
import StatBlock from "./StatBlock.astro";

import { posts, collections, tags, authors } from "@/utils/content";
import { data } from "@/i18n/site";
import { translator, getLangFromUrl } from "@/utils/i18n";
const t = translator(data, getLangFromUrl(Astro.url))
---

<style>
  div {
    display: grid;
    gap: calc(50px / 4);
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
</style>

<section>
  <h2 style="margin-bottom: 0px;">{t('homepage.stats.title')}</h2>
  <div>
    <StatBlock title="Entries" value={posts.length} link="all" />
    <StatBlock title="Collections" value={collections.length} link="collections" />
    <StatBlock title="Tags" value={tags.length} link="tags" />
    <StatBlock title="Authors" value={authors.length} link="authors" />
  </div>
</section>
