---
import BaseLayout from "@/layouts/BaseLayout.astro";

import FoundPost from "@/components/FoundPost.astro";
import { authors, escape, getPostsByAuthor, unescape } from "@/utils/content";

export async function getStaticPaths() {
  return authors.map((author) => ({
    params: { author: escape(author) },
    props: { posts: getPostsByAuthor(author) },
  }));
}

const { author } = Astro.params;
const { posts } = Astro.props;
---

<BaseLayout title={unescape(author)}>
  <h2>Posts by {unescape(author)} ({posts.length})</h2>
  <ul>
    {posts.map((post) => <FoundPost {...post} />)}
  </ul>
</BaseLayout>
