---
import FoundPost from "@/components/FoundPost.astro";
import SearchPage from "@/layouts/SearchPage.astro";
import {
  collections,
  escape,
  getPostsByCollection,
  unescape,
} from "@/utils/content";

export async function getStaticPaths() {
  return collections.map((collection) => ({
    params: { collection: escape(collection.name) },
    props: { posts: getPostsByCollection(collection) },
  }));
}
const { collection } = Astro.params;
const { posts } = Astro.props;
---

<SearchPage title={unescape(collection)}>
  <h2>Posts that comprise {unescape(collection)} ({posts.length})</h2>
  <ol>
    {posts.map((post) => <FoundPost {...post} />)}
  </ol>
</SearchPage>
